<!-- Landlord registration -->
{% load static  %}
 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vesta Realty</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <link rel="shortcut icon" href="{% static 'img/faviconn_2.png' %}" type="image/x-icon">
 </head>
 <body>
    <div class="min-h-screen bg-gray-50 flex flex-col justify-center items-center py-12 sm:px-6 lg:px-8">
        <!-- Background Image -->
        <div class="absolute inset-0 z-0">
            <img src="https://images.pexels.com/photos/1797393/pexels-photo-1797393.jpeg" alt=""
                class="w-full min-h-screen object-cover filter blur-md brightness-50">
        </div>

        <div class="fixed top-4 right-4 max-w-xs w-full bg-green-500 text-white shadow-lg rounded-lg p-4 flex items-center space-x-3 transition-transform transform hover:scale-105" style="display: none;" id="success_message">
            <!-- Başarılı İkon -->
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8.5 8.5a1 1 0 01-1.414 0l-4.5-4.5a1 1 0 011.414-1.414L8 12.086l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>

            <!-- Toast Mesajı -->
            <div class="flex-1">
                <p class="font-bold">Success</p>
                <p class="text-sm">Registration is  successful!</p>
            </div>

            <!-- Kapatma Butonu -->
            <button class="text-white hover:text-gray-300 focus:outline-none">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 011.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
                </svg>
            </button>
        </div>

        <div class="fixed top-40 right-4 max-w-xs w-full bg-red-500 text-white shadow-lg rounded-lg p-4 flex items-center space-x-3 transition-transform transform hover:scale-105" style="display: none;" id="error_message">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M8.257 3.099c.366-.446.976-.446 1.342 0l6 7.5a1 1 0 01-.671 1.601H3.07a1 1 0 01-.671-1.601l6-7.5zM10 13a1.5 1.5 0 100 3 1.5 1.5 0 000-3z" clip-rule="evenodd" />
            </svg>
            <div class="flex-1">
                <p class="font-bold">Error</p>
                <p class="text-sm">An error occurred. Please try again.</p>
            </div>
            <button class="text-white hover:text-gray-300 focus:outline-none">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 011.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
                </svg>
            </button>
        </div>

        <div class="relative z-10 mx-3">
            <div class="sm:mx-auto sm:w-full sm:max-w-md">
                <img class="mx-auto w-20 aspect-square shadow-yellow-200 shadow-md " src="{% static 'img/logo.png' %}" alt="vestarealty">
                <h2 class="mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900">
                    Create a new account
                </h2>
                <p class="mt-2 text-center text-sm leading-5 text-gray-500 max-w">
                    Or
                    <a href="/login"
                        class="font-medium text-blue-600 hover:text-blue-500 focus:outline-none focus:underline transition ease-in-out duration-150">
                        login to your account
                    </a>
                </p>
            </div>
        
            <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
                <div class="bg-white w-full md:w-[448px] py-8 px-4 shadow sm:rounded-lg sm:px-10">
                    <form  id="form">
                        {% csrf_token %}
                        <div>
                            <label for="email" class="block text-sm font-medium leading-5  text-gray-700">Name</label>
                            <div class="mt-1 relative rounded-md shadow-sm">
                                <input id="name" name="name" placeholder="John Doe" type="text" required=""
                                    class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 invalid:border-red-400 transition duration-150 ease-in-out sm:text-sm sm:leading-5">
                                <div class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
                                    <svg class="h-5 hidden w-5 text-red-500" fill="currentColor" viewBox="0 0 20 20">
                                        <path fill-rule="evenodd"
                                            d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z"
                                            clip-rule="evenodd">
                                        </path>
                                    </svg>
                                </div>
                            </div>
                        </div>
        
                        <div class="mt-6">
                            <label for="username" class="block text-sm font-medium leading-5 text-gray-700">Username</label>
                            <div class="mt-1 flex rounded-md shadow-sm">
                                <input id="username" name="username" placeholder="john" type="text" required=""
                                    class="flex-1  border border-gray-300 form-input pl-3 py-2 block w-full   invalid:border-red-400 rounded-md transition duration-150 ease-in-out sm:text-sm sm:leading-5">
                            </div>
                        </div>
        
                        <div class="mt-6">
                            <label for="email" class="block text-sm font-medium leading-5 text-gray-700">
                                Email address
                            </label>
                            <div class="mt-1 relative rounded-md shadow-sm">
                                <input id="email" name="email" placeholder="user@example.com" type="email"
                                    required=""
                                    class="appearance-none block w-full px-3 py-2 border invalid:border-red-500 border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5">
                                <div class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
                                    <svg class="h-5 hidden w-5 text-red-500" fill="currentColor" viewBox="0 0 20 20">
                                        <path fill-rule="evenodd"
                                            d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
        
                        <div class="mt-6">
                            <label for="password" class="block text-sm font-medium leading-5 text-gray-700">
                                Password
                            </label>
                            <div class="mt-1 rounded-md shadow-sm">
                                <input id="password" name="password" type="password" required=""
                                    class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5 invalid:border-red-400">
                            </div>
                        </div>
        
                        <div class="mt-6">
                            <label for="password_confirmation" class="block text-sm font-medium leading-5 text-gray-700">
                                Confirm Password
                            </label>
                            <div class="mt-1 rounded-md shadow-sm">
                                <input id="password_confirmation" name="password_confirmation" type="password" required=""
                                    class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5 invalid:border-red-400" >
                            </div>
                        </div>

                        <div class="hidden">
                            <span class="text-sm text-red-800 text-center font-semibold">The Passwords do not match!!</span>
                        </div>
        
                        <div class="mt-6">
                            <span class="block w-full rounded-md shadow-sm">
                                <button type="submit"
                                    class="w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out">
                                    Create account
                                </button>
                            </span>
                        </div>
                    </form>
        
                </div>
            </div>
        </div>
    </div>
    <!-- Js scripting -->
     <script src="{% static 'js/registration.js' %}"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 </body>
 </html>