{% extends "base.html" %}
{% load static  %}

{% block title %}
CampusVibes | Credentials
{% endblock title %}

{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

    <div class="h-screen overflow-y-auto bg-gradient-to-b from-gray-300 to-slate-300 via-gray-100"">
        <div class="p-4 my-20 md:w-[440px] rounded-md shadow-md mx-auto bg-white" >
            <h1 class="text-center  text-xl text-yellow-700 mb-6 border-b-2 border-yellow-950 px-6 pb-2">Default tenant login</h1>
            <div id="credentials">
                <div class="flex justify-center space-x-12 mb-6">
                    <span class="font-semibold">Username:</span>
                    <span>{{tenant.name}}_Ten</span>
                </div>
                <div class="flex justify-center space-x-6">
                    <span class="font-semibold">Password:</span>
                    <span class="text-wrap text-sm">{{tenant.password}}</span>
                </div>
            </div>
            <div class="flex justify-center mt-6">
                <div class="flex space-x-8">
                    <div class="bg-gray-200 p-2 rounded-md hover:cursor-pointer"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M7.217 10.907a2.25 2.25 0 1 0 0 2.186m0-2.186c.18.324.283.696.283 1.093s-.103.77-.283 1.093m0-2.186 9.566-5.314m-9.566 7.5 9.566 5.314m0 0a2.25 2.25 0 1 0 3.935 2.186 2.25 2.25 0 0 0-3.935-2.186Zm0-12.814a2.25 2.25 0 1 0 3.933-2.185 2.25 2.25 0 0 0-3.933 2.185Z" />
                      </svg>
                      </div>
                    <div class="bg-gray-200 p-2 rounded-md hover:cursor-pointer" onclick="copyFunc()">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.666 3.888A2.25 2.25 0 0 0 13.5 2.25h-3c-1.03 0-1.9.693-2.166 1.638m7.332 0c.055.194.084.4.084.612v0a.75.75 0 0 1-.75.75H9a.75.75 0 0 1-.75-.75v0c0-.212.03-.418.084-.612m7.332 0c.646.049 1.288.11 1.927.184 1.1.128 1.907 1.077 1.907 2.185V19.5a2.25 2.25 0 0 1-2.25 2.25H6.75A2.25 2.25 0 0 1 4.5 19.5V6.257c0-1.108.806-2.057 1.907-2.185a48.208 48.208 0 0 1 1.927-.184" />
                          </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function copyFunc() {
            // Get the text inside the credentials div
            var copyText = document.getElementById("credentials").innerText;

            // Use navigator.clipboard to copy the text
            navigator.clipboard.writeText(copyText).then(function () {
                alert("Copied the text: " + copyText);
            }).catch(function (err) {
                console.error("Failed to copy text: ", err);
            }); 
        }
    </script>

{% endblock content %}