<!-- This template is for the landlord to update rental records -->
{% extends "base.html" %}
{% load static  %}

{% block title %}
Vesta Realty | Rent Info | {{tenant.name}}
{% endblock title %}

{% block content %}

    <div class="p-4 flex flex-col space-x-4 space-y-6 md:space-y-0 md:flex-row mx-2 md:mx-6 my-auto bg-white rounded-md shadow-lg">

        <div class="fixed top-6 right-4 max-w-xs w-full bg-green-500 text-white shadow-lg rounded-lg p-4 flex items-center space-x-3 transition-transform transform hover:scale-105" style="display: none;" id="success_message">
            <!-- Başarılı İkon -->
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8.5 8.5a1 1 0 01-1.414 0l-4.5-4.5a1 1 0 011.414-1.414L8 12.086l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>

            <!-- Toast Mesajı -->
            <div class="flex-1">
                <p class="font-bold">Success</p>
                <p class="text-sm">Payment update  successful!</p>
            </div>

            <!-- Kapatma Butonu -->
            <button class="text-white hover:text-gray-300 focus:outline-none">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 011.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
                </svg>
            </button>
        </div>

        <div class="fixed top-6 right-4 max-w-xs w-full bg-red-500 text-white shadow-lg rounded-lg p-4 flex items-center space-x-3 transition-transform transform hover:scale-105" style="display: none;" id="error_message">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M8.257 3.099c.366-.446.976-.446 1.342 0l6 7.5a1 1 0 01-.671 1.601H3.07a1 1 0 01-.671-1.601l6-7.5zM10 13a1.5 1.5 0 100 3 1.5 1.5 0 000-3z" clip-rule="evenodd" />
            </svg>
            <div class="flex-1">
                <p class="font-bold">Error</p>
                <p class="text-sm">An error occurred. Please try again.</p>
            </div>
            <button class="text-white hover:text-gray-300 focus:outline-none">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 011.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
                </svg>
            </button>
        </div>
        

        <!-- Tenant basic info -->
        <div>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKK6xibIHpmaTKm8ZGO5HtVbLYzKYs-C7YZQ&s" alt="Blank User"
            class="w-fit md:w-40 mx-auto aspect-square rounded-full shadow-lg">
           <div class="flex items-start md:flex-row space-x-2 mt-4">
                <div class="flex space-x-2">
                    <span class="font-bold">Name:</span>
                    <span class="text-sm"> {{tenant.name}} </span>
                </div>
                <div class="flex space-x-2">
                    <span class="font-bold">Location:</span>
                    <span class="bg-gray-300 px-2 py-1 text-sm rounded-full hover:cursor-pointer">Lessos</span>
                </div>
           </div>
           <div class="flex space-x-4">
                <span>
                    Rent:
                </span>
                <span class="leading-3 text-sm py-1 px-2 bg-emerald-400 rounded-full text-white">
                    {{tenant.Rent}}
                </span>
                
            </div>
           <div>
                <h2 class="tracking-wider font-mono font-bold mt-4">Rental History</h2>
                <div class="flex justify-between">
                    <span>
                        Month
                    </span>
                    <span>
                        Status
                    </span>
                </div>
                <div class="flex justify-between">
                    <span>
                        January 2023
                    </span>
                    <span>
                        Bal: <span class="leading-3 text-sm py-1 px-2 bg-emerald-400 rounded-full">Paid in Full</span>
                    </span>
                </div>
           </div>
        </div>
        <!-- Form to update the records -->
        <div class="flex-grow">
            <form action="" method="post" id="form">
                {% csrf_token %}
                <h3 class="font-serif font-bold text-base md:text-2xl text-center shadow-sm mb-4">Update <span class="text-cyan-600">{{tenant.name}}'s</span> Payment Record</h3>
                <div class="flex flex-col md:flex-row space-x-0 md:space-x-3 mt-3" >
                    <div class="flex flex-col space-y-1">
                        <label for="month" class="font-semibold">Month:</label>
                        <!-- Set defalt to the current month USE JS -->
                        <input type="month" value="2025-03" name="month" class="rounded-md border border-gray-200 px-2 p-1"> 
                    </div>
                    <div class="flex flex-col  space-y-1">
                        <label for="amount" class="font-semibold">Amount Paid(Rent):</label>
                        <div class="flex border border-gray-200 rounded-md space-x-1 items-center">
                             
                            <!-- Minus sign -->
                            <div class="hover:cursor-pointer bg-gray-200 h-full p-1" title="-1000">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14" />
                                </svg>
                            </div>
                            <!-- Input -->
                            <input type="text" class="w-full focus:ring-1 focus:ring-gray-400 px-2 py-1" name="amount" placeholder="13000">
                            <!-- Plus sign -->
                            <div class="hover:cursor-pointer bg-gray-200 h-full p-1" title="+1000">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col space-y-1 flex-grow">
                        <label for="electricity" class="font-semibold">Electricity bill:</label>
                        <input type="text" name="electricity" id="electricity" class="rounded-md border border-gray-200 px-2 p-1" placeholder="1500">
                    </div>
                    
                </div>
                <!-- second row -->
                <div class="flex flex-col md:flex-row space-x-0 md:space-x-3 mt-3" >
                    <div class="flex flex-col space-y-1">
                        <label for="water" class="font-semibold">Water bill:</label>
                        <input type="text" id="water" name="water" class="rounded-md border border-gray-200 px-2 p-1" placeholder="2000">
                    </div>
                    <div class="flex flex-col space-y-1 ">
                        <label for="mpesa" class="font-semibold ">Mpesa code:</label>
                        <input type="text" name="mpesa" class="rounded-md border border-gray-200 px-2 py-1" placeholder="optional">
                        <input type="text" value="{{tenant.name}}" name="tenant" class="hidden">
                        
                    </div>
                </div>
                <textarea name="notes" id="notes" placeholder="Additional notes..." class="w-full mt-4 h-20 px-2 py-1 rounded-md border border-gray-300"></textarea>
                <div class="flex justify-end mx-1 mt-3">
                    <button type="submit" class="bg-emerald-500 text-white px-3 py-1 rounded-full">submit</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Js scripts -->
     <script src="{% static 'js/update_records.js' %}"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock content %}