<!-- This template is for the landlord to update rental records -->
{% extends "base.html" %}
{% load static  %}

{% block title %}
Vesta Realty | Rent Info
{% endblock title %}

{% block content %}

    <div class="p-4 flex flex-col space-x-3 md:flex-row mx-2 md:mx-6 my-auto bg-white rounded-md shadow-lg">
        <!-- Tenant basic info -->
        <div>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKK6xibIHpmaTKm8ZGO5HtVbLYzKYs-C7YZQ&s" alt="Blank User"
            class="w-fit md:w-40 aspect-square rounded-full shadow-lg">
           <div class="flex md:flex-row space-x-2 mt-4">
                <div class="flex space-x-2">
                    <span class="font-bold">Name:</span>
                    <span>John Smith</span>
                </div>
                <div class="flex space-x-2">
                    <span class="font-bold">Location:</span>
                    <span class="bg-gray-300 px-2 py-1 text-sm rounded-full hover:cursor-pointer">Lessos</span>
                </div>
           </div>
           <div class="flex space-x-4">
                <span>
                    Rent:
                </span>
                <span class="leading-3 text-sm py-1 px-2 bg-emerald-400 rounded-full text-white">
                    Ksh 5,000
                </span>
                
            </div>
           <div>
                <h2 class="tracking-wider font-mono font-bold mt-4">Rental History</h2>
                <div class="flex justify-between">
                    <span>
                        Month
                    </span>
                    <span>
                        Status
                    </span>
                </div>
                <div class="flex justify-between">
                    <span>
                        January 2023
                    </span>
                    <span>
                        Bal: <span class="leading-3 text-sm py-1 px-2 bg-emerald-400 rounded-full">Paid in Full</span>
                    </span>
                </div>
           </div>
        </div>
        <!-- Form to update the records -->
        <div class="flex-grow">
            <form action="" method="post">
                <h3 class="tracking-wide font-mono font-bold text-xl text-center">Update Record</h3>
                <div class="flex flex-col md:flex-row space-x-0 md:space-x-3 mt-3" >
                    <div class="flex flex-col space-y-1">
                        <label for="month" class="font-semibold">Month:</label>
                        <!-- Set defalt to the current month USE JS -->
                        <input type="month" value="2025-02" name="month" class="rounded-md border border-gray-200 px-2 p-1"> 
                    </div>
                    <div class="flex flex-col  space-y-1">
                        <label for="amount" class="font-semibold">Amount Paid:</label>
                        <div class="relative">
                            <input type="text" class="relative w-full rounded-md border border-gray-200 px-2 py-1" name="amount"> 
                            <!-- Minus sign -->
                            <div class="absolute left-2 top-1/2 transform -translate-y-1/2 hover:cursor-pointer" title="-1000">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14" />
                                </svg>
                            </div>
                        
                            <!-- Plus sign -->
                            <div class="absolute right-2 top-1/2 transform -translate-y-1/2 hover:cursor-pointer" title="+1000">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col space-y-1 flex-grow">
                        <label for="mpesa" class="font-semibold ">Mpesa code:</label>
                        <input type="text" name="mpesa" class="rounded-md border border-gray-200 px-10 py-1" placeholder="optional">
                        
                    </div>
                </div>
                <textarea name="notes" id="notes" placeholder="Additional notes..." class="w-full mt-4 h-20 px-2 py-1 rounded-md border border-gray-300"></textarea>
                <div class="flex justify-end mx-1 mt-3">
                    <button type="submit" class="bg-emerald-500 text-white px-3 py-1 rounded-full">submit</button>
                </div>
            </form>
        </div>
    </div>

{% endblock content %}